@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Playwrite AU TAS Guides", serif;
}

.container{
  max-width: 1200px;
  margin: 0px auto;
}

.aboutbg,
.subbg,
.footerbg{
  background-image: url("./assets/images/compbackbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.footerbg{
  background-image: url("./assets/images/footerbg.jpg");
}
.subbg{
  background-image: url("./assets/images/interiorbg.jpg");
}